@import './main.css';
@import './link.css';
@import './feature.css';
@import './faq.css';
@import './cta.css';
@import './footer.css';
/* BASIC SETUP */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* outline: 1px black dashed; */
}

ul {
	list-style: none;
}

.mr-md {
	margin-right: 10px;
}

/* START FROM HERE */

html {
	font-size: 20px;
}

body {
	font-family: "Maison Neue", sans-serif;
	color: #300D4F;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

header {
	background-color: #FFF3F1;
}

section {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 4rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

h2 {
	font-size: 2rem;
	font-weight: bolder;
}

.pricing-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pricing-header_logo {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pricing-header_logo>img {
	display: inline-block;
	width: 150px;
	vertical-align: middle;
}

.pricing-header_navbar, .pricing-header_signin {
	display: flex;
	justify-content: space-between;
}

.pricing-header li {
	padding: .5rem .8rem;
}

.pricing-header_navbar .pricing-header_navbar-item {
	position: relative;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	
}

.pricing-header_navbar-item::before, .pricing-header_navbar-item::after {
	position: absolute;
	top: 55%;
	right: 15px;
	content: '';
	width: 7px;
	height: 1.5px;
	background-color: #300D4F;
	font-weight: 800;
}

.pricing-header_navbar-item::before {
	transform: rotate(45deg);
}

.pricing-header_navbar-item::after {
	transform: translateX(4px) rotate(-45deg);
}

.pricing-header_navbar-menu {
	display: none;
	padding: 8px;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	background-color: white;
	box-shadow: 0 -1px 8px 1px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	visibility: hidden;
	cursor: pointer;
}

.pricing-header_navbar-item:hover .pricing-header_navbar-menu {
	display: block;
	visibility: visible;
}

.pricing-header_navbar-menu::before {
	content: '';
	position: absolute;
	left: 50%;
	right: 50%;
	top: -10px;
	transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}

.pricing-header_navbar-menu .pricing-header_navbar-menu-container {
	padding: 1rem 1rem 1rem 1rem;
}


.pricing-header_navbar-menu-container::before {
	content: '';
	float: left;
	width: .8rem;
	height: .8rem;
	margin-top: 6px;
	border-radius: 50%;
	background-color: salmon;
}

.pricing-header_navbar-menu-container:nth-child(2)::before {
	background-color: rgb(85, 26, 139);
}

.pricing-header_navbar-menu-container:nth-child(3)::before {
	background-color: #05E6A0;
}

.pricing-header_navbar-menu-item {
	width: calc(100% - .8rem);
	margin-left: 1.5rem;
}

.pricing-header_navbar-menu-item>h6 {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 900;
	letter-spacing: -1px;
}

.pricing-header_navbar-menu-item>p {
	font-size: 0.75rem;
	white-space: nowrap;
}

.pricing-header_navbar-menu-container:hover {
	transition: all .1s linear;
	background-color: rgba(0, 0, 0, 0.035);
}

.pricing-header_signin-item:first-child>a {
	transition: border-bottom linear .5s;
	border-bottom: 3px solid #C223CE;
}

.pricing-header_signin-item:first-child:hover>a {
	border-bottom: 3px solid #300D4F;
}

.pricing-header_signin-item:nth-child(2) {
	border-radius: 2px;
	border: 2px solid #C223CE;
	background-color: #C223CE;
}

.pricing-header_signin-item:nth-child(2)>a {
	color: white;
}

.pricing-header_signin-item:nth-child(2):hover {
	background-color: transparent;
}

.pricing-header_signin-item:nth-child(2):hover>a {
	color: black;
}

/* mobile menu */

#mobile-menu {
	position: absolute;
	opacity: 0;
}

.hamburger-menu-container {
	display: none;
}

.mobile-menu-container {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	min-width: 340px;
	padding: .5rem;
	background-color: white;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.05);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	opacity: 0;
	transition: all .2s ease-in-out;
}

@media screen and (max-width:959px) {
	html {
		font-size: 16px;
	}
	body>* {
		overflow-x: hidden;
	}
	.pricing-header {
		margin-bottom: 0;
	}
	.pricing-header_navbar, .pricing-header_signin {
		display: none;
	}
	.hamburger-menu-container {
		display: inline-block;
		z-index: 99;
		cursor: pointer;
	}
	.hamburger-menu {
		display: inline-block;
		position: relative;
		width: 28px;
		height: 4px;
		background-color: black;
		border-radius: 1000px;
	}
	.hamburger-menu::before, .hamburger-menu::after {
		content: '';
		position: absolute;
		width: 28px;
		height: 4px;
		background-color: black;
		border-radius: 1000px;
		transition: all .2s ease-in-out;
	}
	.hamburger-menu::before {
		top: -8px;
	}
	.hamburger-menu::after {
		top: 8px;
	}
	#mobile-menu:checked~.mobile-menu-container {
		min-width: 340px;
		z-index: 9;
		opacity: 1;
	}
	#mobile-menu:checked+.hamburger-menu-container>.hamburger-menu {
		background-color: white;
		transform: rotate(90deg);
	}
	#mobile-menu:checked+.hamburger-menu-container>.hamburger-menu::before {
		background-color: #C223CE;
		transform: translateY(8px) rotate(135deg);
	}
	#mobile-menu:checked+.hamburger-menu-container>.hamburger-menu::after {
		background-color: #C223CE;
		transform: translateY(-8px) rotate(-135deg);
	}
	.mobile-menu-container>h2 {
		font-size: 1.5rem;
		line-height: 100px;
	}
	.mobile-menu_nav-container {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		margin-bottom: 1rem;
	}
	.mobile-menu_nav-container .pricing-header li {
		padding: 1rem .8rem;
	}
	.mobile-menu_nav-container2 {
		font-weight: 700;
		font-size: .8rem;
		margin-bottom: 1rem;
	}
	.mobile-menu_link-container {
		border-top: 2px solid #f5f4f4;
		padding: 1rem 1rem;
	}
	.pricing-heading {
		margin-top: 3rem;
	}
}

@media screen and (max-width:414px) {
	#mobile-menu:checked~.mobile-menu-container {
		width: 100%;
	}
}